<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
    <div style="text-align: center;"><u><h1>LOGIN</h1></u></div>
    <div style="text-align: center;">
        <div>
            <form action="login" method="get">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="LOGIN">
            </form>
        </div>
    </div>

</body>
</html>